{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign",
    "syntax-decorators",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": "css" }]
  ],
  "env": {
    "test": {
      "plugins": [ "transform-es2015-modules-commonjs" ]
    }
  }
}
